    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Blog RSS" href="{{ site.url }}/blog/feed.xml" />
    <meta name="rating" content="General" />
    <meta name="Author" content="{{ site.name }}" />
    <meta name="Webmaster" content="{{ site.name }}" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="Language" content="{{ site.language }}" />
    <meta http-equiv="content-language" content="{{ site.language }}" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta name="expires" content="never" />

    <!-- SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="identifier-URL" content="{{ site.url }}" />
 
    <!-- Meta -->
    {% if page %}
        <title>{{ page.meta_title }} - {{ site.name }}</title>
        <meta name="title" content="{{ page.meta_title }} - {{ site.name }}" />
        <link rel="canonical" href="{{ site.url }}/{{ page.permalink }}/" />
        <meta name="keywords" content="{{ site.keywords | join(', ') }}, {{ page.tags | join(', ') }}" />
        <meta name="description" content="{{ page.summary }}" />
    {% elif post %}
        <title>{{ post.title }}</title>
        <meta name="title" content="{{ post.title }} - {{ site.name }}" />
        <link rel="canonical" href="{{ site.url }}/blog/{{ post.slug }}/" />
        <meta name="keywords" content="{{ site.keywords | join(', ') }}, {{ post.tags | join(', ') }}" />
        <meta name="description" content="{{ post.summary }}" />
    {% else %}
        <title>{{ site.short_url }}</title>
        <meta name="title" content="{{ site.name }}" />
        <link rel="canonical" href="{{ site.url }}" />
        {% if resume %}
            <meta name="keywords" content="{{ site.keywords | join(', ') }}, {{ resume.tags | join(', ') }}" />
        {% else %}
            <meta name="keywords" content="{{ site.keywords | join(', ') }}" />
        {% endif %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}