<!-- Favicon -->
<link href="/static/img/logo.jpg" rel="icon" type="image/jpg" />

<style>
    body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.4;
        font-size: 18px;
        color: #444;
        background-color: #fdf6e3;
        padding: 0 10px;
        font-family: "Courier New", Courier, monospace;
    }
    h1 { line-height: 1.2; text-align: center; }
    h2, h3 { line-height: 1.2; border-bottom: 1px solid; }
    pre, blockquote, .code { background: #f5ead6; font-size: 0.8em; padding: 1em; overflow: scroll; }
    ul, ol { list-style-type: circle; }
    .blog_post_list li { padding-top: 0.8em; padding-bottom: 0.8em; }
    a { color: #169; text-decoration: none; padding: 0.5em 0; }
    a:hover { text-decoration: underline; }
    nav { display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;
        font-variant: small-caps;
        font-weight: bold;
        border-bottom: 1px solid;
    }
    main hr { margin-top: 1.5em; margin-bottom: 1.5em; }
    header { margin: 1em 0; display: block; width: 100%; }
    header .subtitle { text-align: center; font-style: italic; }
    header .summary { text-align: center; font-style: italic; }
    header img { width: 100%; }
    main { text-align: justify; }
    article code { background: #f0e0c2; font-size: 0.8em; padding: 0; padding-top: 0.2em; padding-bottom: 0.2em; }
    .horizontal { text-align: center; padding: 10px 40px; }
    .horizontal li { display: inline-block; margin: 0 0.5em; }
    figure { width: 85%; }
    figure img { width: 100%; box-shadow: #444; }
    figure figcaption { text-align: center; font-style: italic; }
    footer { border-top: 1px solid; padding-top: 0.6em; }
</style>