{% include "includes/head.j2" %}

<h2>Links list</h2>

{% for year, links in all_links | reverse | groupby("year") | reverse %}

    <h3>{{ year }}</h3>

    {% for month, links_by_month in links | groupby("month") | reverse %}

    <h4>{{ month }}</h4>
    
    <ul>
        {% for link in links_by_month %}
            <li>
                <a href="/links/{{ link.condensed_date }}-{{ link.slug }}/">{{ link.short_date }} : {{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>

    {% endfor %}

{% endfor %}
