<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#" >
    <head>

        <title>
            bruno-giarrizzo.fr
        </title>

        {% include "includes/style.j2" %}
        
    </head>

    <body>

        {% include "includes/navigation.j2" %}

        <main>
            {{ content }}
        </main>
            
        {% include "includes/footer.j2" %}
        
    </body>

</html>
