---
layout: page
title: My Books
permalink: /books/
cover: "images/pages/books/cover.jpg"
---

<h2 class="pb-3">Biographies</h2>

<div class="row">
    {% assign books = site.books | sort: 'type' %}
    {% for book in books %}
        {% if book.type == "biography" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/books/{{ book.type }}/{{ book.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ book.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if book.status == "Read" %}
                                <a class="badge bg-success text-white">{{ book.status }}</a>
                            {% else %}
                                {% if book.status == "Reading" %}
                                    <a class="badge bg-warning text-white">{{ book.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ book.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr />

<h2 class="pb-3">Business</h2>

<div class="row">
    {% assign books = site.books | sort: 'type' %}
    {% for book in books %}
        {% if book.type == "business" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/books/{{ book.type }}/{{ book.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ book.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if book.status == "Read" %}
                                <a class="badge bg-success text-white">{{ book.status }}</a>
                            {% else %}
                                {% if book.status == "Reading" %}
                                    <a class="badge bg-warning text-white">{{ book.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ book.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr />

<h2 class="pb-3">Essais</h2>

<div class="row">
    {% assign books = site.books | sort: 'type' %}
    {% for book in books %}
        {% if book.type == "essays" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/books/{{ book.type }}/{{ book.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ book.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if book.status == "Read" %}
                                <a class="badge bg-success text-white">{{ book.status }}</a>
                            {% else %}
                                {% if book.status == "Reading" %}
                                    <a class="badge bg-warning text-white">{{ book.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ book.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr />

<h2 class="pb-3">Développement Personnel</h2>

<div class="row">
    {% assign books = site.books | sort: 'type' %}
    {% for book in books %}
        {% if book.type == "self-growth" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/books/{{ book.type }}/{{ book.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ book.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if book.status == "Read" %}
                                <a class="badge bg-success text-white">{{ book.status }}</a>
                            {% else %}
                                {% if book.status == "Reading" %}
                                    <a class="badge bg-warning text-white">{{ book.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ book.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
