---
layout: page
title: My Video-Games
permalink: /games/
cover: "images/pages/games/cover.png"
---

<h2 class="pb-3">Nintendo Switch</h2>

<div class="row">
    {% assign games = site.games | sort: 'status' %}
    {% for game in games %}
        {% if game.platform == "nintendo-switch" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/games/{{ game.platform }}/{{ game.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ game.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if game.status == "Done" %}
                                <a class="badge bg-success text-white">{{ game.status }}</a>
                            {% else %}
                                {% if game.status == "Doing" %}
                                    <a class="badge bg-warning text-white">{{ game.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ game.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr />

<h2 class="pb-3">PC</h2>

<div class="row">
    {% assign games = site.games | sort: 'status' %}
    {% for game in games %}
        {% if game.platform == "pc" %}
            <div class="col-4 mx-auto">
                <div class="card no-border mb-3">
                    <img class="card-img" src="{{ site.url }}/images/pages/games/{{ game.platform }}/{{ game.thumbnail }}" />
                    <div class="card-body text-center">
                        <div>
                            <a href="{{ game.link_buy }}" target="_blank">
                                <button type="button" class="btn btn-primary">
                                    More
                                </button>
                            </a>
                        </div>
                        <div>
                            {% if game.status == "Done" %}
                                <a class="badge bg-success text-white">{{ game.status }}</a>
                            {% else %}
                                {% if game.status == "Doing" %}
                                    <a class="badge bg-warning text-white">{{ game.status }}</a>
                                {% else %}
                                    <a class="badge bg-danger text-white">{{ game.status }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>