<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="alert alert-primary text-center">
                <p class="h1 my-4 fw-bold text-dark">Let's make business together !</p>
                <p class="h4 my-4 text-secondary">You have ideas, i know how to make them come true !</p>

                <a href="{{ site.url }}/onboard/" class="btn btn-primary btn-lg my-4">Start Conversation &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
