---
layout: default
---

<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>

<article class="container">
  <div class="row">
  <div class="col-2 mx-4 d-none d-lg-block">
    <div class="sticky-top mb-3" style="top: 1.5em;">
      <img class="img-fluid float-right mb-3" src="{{ site.url }}/images/podcast/general/logo.jpg" />
      <h3 class="text-right">{{ site.podcast_title }}</h3>
        <p class="text-right">
          <small>
              {{ site.podcast_description }}
          </small>
        </p>
      </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-8">
    
    <div class="card d-lg-none shadow">
      <div class="card-header">{{ page.date | date: '%B %d, %Y' }}</div>
      <div class="card-body row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-2 my-auto mx-auto">
            <img class="img-fluid" id="podcast_cover" src="{{ site.url }}/images/podcast/general/logo.jpg">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-10 my-auto">
            <h1 id="episode_title">{{ page.title }}{% if page.subtitle %} - {{page.subtitle}}{% endif %}</h1>
            <p class="mb-0">{{ page.summary }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 pt-3 pb-3 d-flex justify-content-center">
        <audio id="player" class="" controls>
          <source src="{{ site.url }}/episodes/{{ page.audio_file }}" type="audio/mp3" />
        </audio>
      </div>
    </div>

    <div class="card mb-3 shadow">
      <div class="card-header">Notes de l'épisode</div>
      <div class="card-body">
        {{ content }}
      </div>
    </div>

    <div class="card mb-3 shadow">
      <div class="card-header">Commentaires</div>
      <div class="card-body">
        {% include disqus.html %}
      </div>
    </div>
</article>

