---
layout: default
---

<div class="container">
  <div class="row">
    {% include sidebar_presentation.html %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 mx-4">
      <div class="card shadow mb-3">
        <div class="card-header m-0 p-0" style="height: auto; width: 100%;">
          {% if page.cover %}
              <img alt="{{ post.cover_alt }}" class="card-img-top" src="{{ site.url }}/{{ page.cover }}">
          {% endif %}
        </div>
        <article class="card-body">
            <h1>
              {{ page.title }}
            </h1>
            <p class="font-italic mt-3">
              {{ page.summary }}
            </p>
            <hr / class="my-4">
            <div class="text-justify">
              {{ content }}
            </div>
        </article>
        <div class="card-footer">
            <span>
                The {{ page.date | date: "%e/%m/%Y" }}, in <a href="{{ site.url }}/category/{{ page.categories[0] | slugify }}/">{{ page.categories }}</a>
            </span>
        </div>
      </div>

      <div class="card shadow mb-4 d-lg-none">
        <div class="card-header">
          Sharing is caring
        </div>
        <div class="card-body text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank">
                <i class="far fa-envelope fa-lg text-muted fa-2x mx-auto"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank">
                <i class="fab fa-twitter fa-lg text-muted fa-2x mx-auto"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
                <i class="fab fa-facebook fa-lg text-muted fa-2x mx-auto"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank">
                <i class="fab fa-linkedin fa-lg text-muted fa-2x mx-auto"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://wa.me/?text={{ page.title }} - {{ site.url }}{{ page.url }}" target="_blank">
                <i class="fab fa-whatsapp fa-lg text-muted fa-2x mx-auto"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include sidebar_social.html %}
  </div>
</div>